<!-- <app-emulated-parent></app-emulated-parent> -->
<!-- <app-none-parent></app-none-parent> -->
<!-- <app-element-ref-demo></app-element-ref-demo> -->
<!-- <app-view-child-demo></app-view-child-demo> -->
<!-- <app-view-children-demo></app-view-children-demo> -->

<!-- <app-parent>
  <app-child></app-child>
</app-parent> -->

<!-- <app-parent-demo>
  <app-child-demo></app-child-demo>
  <app-child-demo></app-child-demo>
  <app-child-demo></app-child-demo>
</app-parent-demo> -->

<app-content-projection-parent></app-content-projection-parent>
